/* -----------------------------------------
-- SMARTsutie v10 : MDI
-- 1st : 2023.04.10 emro DesignTeam pjsuny
----------------------------------------- */

@charset "utf-8";
@import url(reset.design.css);

#mdi-main {
	width: 100%;
	min-width: 1000px;
	height: 100%;
	font-size: 12px;
	letter-spacing: -.5px;
}
#header-wrap {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 45px;
	background: #212121;
	color: #FFFFFF;
	padding: 0 15px;
}
#main-wrap {
	width: 100%;
	height: calc(100% - 45px);
	background: #F8F8F8;
}

#header-wrap .nav>button {
	width: 16px;
	height: 16px;
	background: url(../img/btn_menu_w.svg) no-repeat center;
	font-size: 0;
}
#header-wrap .logo {
	margin: 0 20px 4px;
}
#header-wrap .search-menu {
	width: 180px;
	height: 27px;
	background: #4D4D4D;
	border-radius: 50px;
	padding: 0 5px 0 10px;
}
#header-wrap .search-menu .field-container {
	min-width: 120px;
	border: 0;
}
#header-wrap .search-menu .field-container:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 27px;
	background: url(../img/ico_search_w.svg) no-repeat center;
}
#header-wrap .search-menu .field-container>input {
	background: transparent;
	border: 0;
}
#header-wrap .search-menu .field-container>input::placeholder {
	color: #FFFFFF !important;
}
#header-wrap .search-intergrated,
#header-wrap .workplace {
	margin: 0 0 0 20px;
}
#header-wrap .search-intergrated a>span,
#header-wrap .workplace a>span {
	font-weight: 700;
	font-size: 12px;
	color: #FFFFFF;
}
#header-wrap .workplace a>span {
	letter-spacing: .5px;
}
#header-wrap .user {
}
#header-wrap .user:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 16px;
	background: rgba(255, 255, 255, 0.2);
	vertical-align: middle;
	margin: 0 10px;
}
#header-wrap .time>span {
	letter-spacing: 1px;
	margin-right: 10px;
}
#header-wrap .time>button,
#header-wrap .language {
	display: inline-block;
	width: auto;
	height: 27px;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background: transparent;
	color: #E7E7E7;
	line-height: 25px;
	padding: 0 12px;
	box-sizing: border-box;
}
#header-wrap .language {
	position: relative;
	margin:0 10px;
}
#header-wrap .language>button>span {
	color: #E7E7E7;
	line-height: 25px;
}
#header-wrap .language>button>span:after {
	content: '';
	display: inline-block;
	width: 20px;
	height: 25px;
	background: url(../img/tog_down_w.svg) no-repeat center;
	margin-left: 6px;
	vertical-align: top;
}
#header-wrap .language>button+.list {
	display: none;
	position: absolute;
	left: 0;
	top: 25px;
	width: 100%;
	background: #212121;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-top: 0;
	border-radius: 0 0 10px 10px;
	padding: 4px 0;
}
#header-wrap .language>button+.list ul li>button {
	width: 100%;
	text-align: left;
	color: #E7E7E7;
	letter-spacing: 0;
	line-height: 20px;
	padding: 0 12px
}
#header-wrap .function-icon>button {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: transparent;
	font-size: 0;
	margin: 0 6px;
}
#header-wrap .function-icon>button.calendar {
	background: url(../img/ico_calendar_w.svg) no-repeat center;
}
#header-wrap .function-icon>button.memo {
	background: url(../img/ico_memo_w.svg) no-repeat center;
}
#header-wrap .function-icon>button.link {
	background: url(../img/ico_link_w.svg) no-repeat center;
}
#header-wrap .function-icon>button.favorite {
	background: url(../img/ico_star_w.svg) no-repeat center;
}
#header-wrap .function-icon>button.alarm {
	background: url(../img/ico_alarm_w.svg) no-repeat center;
}
#header-wrap .function-icon>button.personal {
	background: url(../img/ico_user_w.svg) no-repeat center;
}

#main-wrap .sc-mdi-tabbar {
	position: relative;
	width: 100%;
	height: 34px;
	border: 1px solid #D0D0D0;
	background: #EDEDED;
	padding: 0 15px;
	box-sizing: border-box;
}
#main-wrap .sc-mdi-tabbar .tablist {
	position: absolute;
	top: 3px;
	height: 30px;
}
#main-wrap .sc-mdi-tabbar .tablist li .sc-tab {
	display: inline-block;
	height: 30px;
	background: #F8F8F8;
	border: 1px solid #D0D0D0;
	border-radius: 6px 6px 0px 0px;
	padding: 0 30px;
	margin-left: -1px;
	box-sizing: border-box;
}
#main-wrap .sc-mdi-tabbar .tablist li .sc-tab:hover {
	border-bottom: 1px solid #F8F8F8;
}
#main-wrap .sc-mdi-tabbar .tablist li .sc-tab.active {
	border-bottom: 1px solid #F8F8F8;
	border-top: 3px solid #212121;
	font-weight: 700;
}
#main-wrap .sc-mdi-tabbar .function-tab {
	position: absolute;
	right: 15px;
}
#main-wrap .sc-mdi-tabbar .function-tab .close-all {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/ico_tabclose.svg) no-repeat center;
	font-size: 0;
	color: transparent;
}
#main-wrap .sc-mdi-tabbar .function-tab .close-all:hover {
	background: #cccccc url(../img/ico_tabclose.svg) no-repeat center;
}

.sc-page {
	width: 100%;
	height: 100%;
}
.sc-mdi-window {
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.page-title-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 36px;
	margin-bottom: 10px;
}
.page-title-bar>h3 {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
}
.search-container {
	display: block;
	width: 100%;
	min-height: 30px;
	background: #FFFFFF;
	border: 1px solid #C9C9C9;
	/* border-bottom: 0; *//*2023.08.09 pjsuny*/
}
.search-container[style="display: none;"] + .search-button {/*2023.08.09 pjsuny : Add*/
	margin: 0;
}
.search-container .title {/*2023.08.04 pjsuny : new Search Box*/
	display: none;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #EBE6E6;
	padding: 0 10px 0 15px;
	box-sizing: border-box;
}

.search-container .title>.title-text,
.search-container .title>.sc-label {
	font-weight: 700;
}
.search-container .title>.folding-down, .form-grid-container .cc-toolbar>.folding-down {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/tog_down.svg) no-repeat center;
	font-size: 0;
	color: transparent;
}
.search-condition-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, auto));/*auto-fit or 3 and 2 같은 정수 값으로 row 변경 가능*/
	grid-template-rows: auto;
	gap: 8px 40px;/*2024.01.12 pjsuny*/
	justify-content: stretch;
	justify-items: stretch;
	grid-auto-flow: dense;
	padding: 15px 20px;
	box-sizing: border-box;
}
/*--.search-condition-group {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	box-sizing: border-box;
}--*/
.column-span-2 {
	grid-column-end: span 2;
}
.column-span-3 {
	grid-column-end: span 3;
}
.search-condition>* {
	display: inline-block;
}
.search-condition {
	display: flex;
	justify-content: space-between;
}
.search-condition .sc-label {
	min-width: 100px;/*label 너비 글자에 상관없이 일정하게*/
	/*padding-right: 10px;*/
	text-align: left;
	white-space: nowrap;
}
.search-condition.text-align-left .sc-label{
	text-align: left;
	white-space: inherit;
    line-height: 1;
}
.search-condition sc-label.isClass span:after {/*2024.02.02 pjsuny*/
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/ico_word_cir.svg) no-repeat center;
    vertical-align: middle;
    margin-left: 6px;
    cursor: pointer;
}
.search-condition sc-label.isClass span:hover:after {/*2024.02.02 pjsuny*/
    background: url(../img/ico_word_cir_b.svg) no-repeat center;
}
.search-condition.text-align-center .sc-label{
	text-align: center;
}
.search-condition.text-align-right .sc-label{
	text-align: right;
}
.search-condition-group.label-row .search-condition {
	flex-direction: row;
}
.search-condition-group.label-column .search-condition {
	flex-direction: column;
}
.search-condition.date .field-container>input {
	width: calc(50% - 15px);
}
.search-condition.autotext .field-container>input {
	width: calc(60% - 30px);
}
.search-container>.btn-group {
	display: flex;
	justify-content: center;
	border-top: 1px dashed #C9C9C9;
	margin: 0 20px;
	padding: 10px;
	box-sizing: border-box;
}
/*2023.08.04 pjsuny : new Search Button - Start*/
.search>sc-button,
.search>button {/*2023.08.28 pjsuny*/
	width: auto !important;
	height: 24px !important;
	background: transparent;
	border-radius: 2px;
	border: 0;
    padding: 0 10px;
	text-align: left;
	margin: 0 5px;
}
.search-button sc-button>span,
.search>button>span {
	display: flex;
    align-items: center;
    gap: 5px;
	color: #777777;
	line-height: 24px;
	font-weight: bold;
}
.search-button sc-button.search>span,
.search>sc-button.search>span {
	color: #5D3CB0;
}
.search-button sc-button>span:before,
.search>sc-button>span:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
}
.search-button sc-button.search
.search>sc-button.search {
	order: 1;
}
.search-button sc-button.close,
.search>sc-button.close {
	order: 3;
}
.search-button sc-button.reset,
.search>sc-button.reset {
	order: 2;
}
.search-button sc-button.search>span:before,
.search>sc-button.search>span:before {
	background-image: url(../img/ico_search_pp.svg);
}
.search-button sc-button.close>span:before,
.search>sc-button.close>span:before {
	background-image: url(../img/ico_arrow_v_gy.svg);
}
.search-button sc-button.reset>span:before,
.search>sc-button.reset>span:before {
	background-image: url(../img/ico_reset_gy.svg);
}
.search>sc-button:hover,
.search>button:hover {
	background: #909090;
	border-radius: 4px;
}
.search-button sc-button.search:hover,
.search>sc-button.search:hover {
	background: #5D3CB0;
}
.search>sc-button:hover>span,
.search>button:hover>span{
	color: #FFFFFF;
}
.search-button sc-button.search:hover>span:before,
.search>sc-button.search:hover>span:before {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
}
.search-button sc-button.close:hover>span:before,
.search>sc-button.close:hover>span:before {
	background-image: url(../img/ico_arrow_v_wh.svg);
}
.search-button sc-button.reset:hover>span:before,
.search>sc-button.reset:hover>span:before {
	background-image: url(../img/ico_reset_wh.svg);
}
.search-button sc-button.open, .search>sc-button.open {
	order: 3;
}
/*2023.08.04 pjsuny : new Search Button - End*/
.search-button sc-button.open>span:before, .search>sc-button.open>span:before{/*2023.08.07 pjsuny : 열기 버튼 아이콘 방향 변경*/
	background-image: url(../img/ico_arrow_v_gy.svg);
	transform: rotateX(180deg);
    background-position-y: 3px;
}
.search-button sc-button.open:hover>span:before,
.search>sc-button.open:hover>span:before {
	background-image: url(../img/ico_arrow_v_wh.svg);
}


.sc-grid {

}
.cc-grid-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 28px !important;
}
.cc-grid-toolbar>h4 {
	font-size: 15px;
	color: #333333;
	font-weight: 700;
}
.cc-grid-toolbar .gird-function {
	display: flex;
	justify-content: left;
	align-items: center;
}
.cc-grid-toolbar .result {
	position: relative;
	padding-right: 18px;
}
.cc-grid-toolbar .result:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 16px;
	background: #E0E0E0;
	position: absolute;
	top: 6px;
	margin-left: 8px;
}
.cc-grid-toolbar .p-button {
	height: 16px;
}
.cc-grid-toolbar .p-button>button {
	width: 16px;
	height: 16px;
	background: url(../img/ico_setting.svg) no-repeat center;
	vertical-align: top;
	font-size: 0;
	color: transparent;
}
.cc-grid-toolbar .button-group {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 10px 0;
}
.cc-grid-toolbar .button-group>button {
	display: inline-block;
	height: 24px;
	background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
	padding: 0 10px;
	margin-left: 8px;
}
.cc-grid-toolbar .button-group>button>span {
	display: block;
	max-width: 60px;
	color: #333333;
	font-size: 12px;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.cc-grid-toolbar .button-group>button:hover {
	background: #E0E0E0;
}
.gird-container {

}
.grid-table {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.table-header {
	display: table-header-group;
	height: 32px;
}
.table-row {
	display: table-row;
	height: 32px;
}
.table-cell {
	display: table-cell;
	border: 1px solid #E4E4E4;
	background: #FFFFFF;
	border-collapse: collapse;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px;
}
.table-header .table-cell {
	height: 32px;
	background: #F8F8F8;
	text-align: center;
	color: #000000;
}
.table-row .table-cell>a {
	font-weight: 700;
	color: #466FC5;
}
.table-row .table-cell>a:hover {
	text-decoration: underline;
}


.txlf {
	text-align: left;
}
.txrg {
	text-align: right;
}

button {
	cursor: pointer;
}
input:focus {
	outline: 0px solid #466FC5;
}

.flex-left {
	display: flex;
	justify-content: left;
	align-items: center;
}
.field-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	box-sizing: border-box;
}
.field-container>input,
.field-container>button {
	display: inline-block;
}
.field-container>input {
	/* width: calc(100% - 30px); */
	width: 100%;
	height: 100%;
	min-height: 26px;
	border-radius: 2px;
	border: 0;
	padding: 0 5px;
	font-family: 'Pretendard',Segoe UI, Inter, '맑은 고딕', 'Malgun Gothic', Arial, sans-serif;/*2023.08.08 pjsuny : Add*/
	box-sizing: border-box;
}
.field-container>input::placeholder {
	color: #333333;
}
.field-container>button {
	width: 30px;
	height: 100%;
	min-height: 26px;
}
.field-container>button.dropdown {
	background: url(../img/tog_down.svg) no-repeat center;
}
.field-container>button.search {
	background: url(../img/tog_search.svg) no-repeat center;
}
.field-container>button.multisearch {
	background: url(../img/tog_multi.svg) no-repeat center;
}
.field-container>button.date {
	background: url(../img/tog_date.svg) no-repeat center;
}
.search-menu .field-container>button.dropdown_w {
	background: url(../img/tog_down_w.svg) no-repeat center;
}
.field-container>input.auto {
	width: 40%;
  border-left: 1px solid #AAAAAA;
  text-align: center;
  background: #e9e9e9dd;
}

/* 2023.05.17 Add : R&D dmwon - start*/
/** [LeftMenu] */
#sideWrapContainer .sideWrap .menuList{
	    background: #ffffff;
}
/** [LeftMenu] */
#sideWrapContainer .sideWrap .lnbMenu li a, #sideWrapContainer .sideWrap .lnbMenu li button {
	background: #ffffff;
    border-bottom: 1px solid transparent;
    color: #666666;
}
/** [LeftMenu] */
#sideWrapContainer .lnbMenu li a span, #sideWrapContainer .lnbMenu li button span { /*2023.08.08 pjsuny : Add*/
	color: #666666;
	font-weight: 500;
	letter-spacing: 0;
}
/** [LeftMenu] */
#sideWrapContainer .sideWrap .lnbMenu li.selected a,
#sideWrapContainer .sideWrap .lnbMenu li.selected button,
#sideWrapContainer .sideWrap .lnbMenu li button:hover,
#sideWrapContainer .sideWrap .lnbMenu li button[elementSelected]{
	background: #ffffff;
    color: #666666;
}
/** [LeftMenu] */
#sideWrapContainer .sideWrap .lnbMenu li ul.lnb2depth{
	width: 220px;
	left: 0px;
	top: 143px;
	background: #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	border-left: 2px solid #333333;
}
/** [LeftMenu] */
#sideWrapContainer .sideWrap .lnbMenu .selected button span, #sideWrapContainer .sideWrap .lnbMenu li ul.lnb2depth li.selected button span{
	background: #F5F5F5;
	color: #111111;
}

/** MDI Tabbar */
sc-mdi-tabbar .mdiTabsDiv{
/* 	position: absolute; */
	left: 0%;
	right: 0%;
	top: 3px;
	bottom: 0%;
    height: 31px;
    background: transparent;
}
sc-mdi-tabbar .tabContainer{
	height: 100%;
}

sc-tabbar{
	height: 31px !important;/* 2023.06.19 pjsuny */
    position: relative;
}

sc-tabbar div.content{
	height: 30px;
    /* 2023.07.21 주석 position: absolute;*/
    position: relative;  /* 탭 여러 개 생길 경우 */
    bottom: 0px;
    width: 100%;
}
sc-mdi-tabbar {
	display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #D0D0D0;
    background: #EDEDED;
    padding: 0 15px;
    box-sizing: border-box;
}
sc-mdi-tabbar .mdiTabsDiv .mdiTabs sc-tab[active] {
	border: 1px solid #D0D0D0;
    border-bottom: 1px solid #F8F8F8;
    border-top: 3px solid #212121;
    font-weight: 700;
    background: #F8F8F8;
}
sc-mdi-tabbar .mdiTabsDiv .mdiTabs sc-tab {
    display: inline-block;
    height: 30px;
    background: #F8F8F8;
    border: 1px solid #D0D0D0;
    border-radius: 6px 6px 0px 0px;
    padding: 0 30px;
    margin-left: -1px;
    box-sizing: border-box;
    line-height: 28px;
    color: #000;
    /* font-family: Arial; *//*2023.08.09 pjsuny*/
    font-size: 13px;
}
sc-mdi-tabbar sc-tabbar div.content>sc-tab:first-child {
    border: 1px solid #D0D0D0;
    margin-left: 1px;
    padding: 0 30px;
    border-top-left-radius: 1px;/* 2023.06.19 pjsuny */
}
sc-tabbar div.content>sc-tab:last-child {
    border-top-right-radius: 6px;
}
sc-mdi-tabbar .mdiTabsDiv .mdiTabs sc-tab:hover {
	background: #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
}
sc-mdi-tabbar .mdiTabToolbar .mdi-tools-closeall{
	display: inline-block;
    width: 30px;
    height: 30px;
   /*  background: url(../img/ico_tabclose.svg) no-repeat center; */
    font-size: 0;
    color: transparent;
    background-position: -78px -979px !important;
    border-left: 0px;
}
sc-mdi-content > sc-pages {
    position: relative;
    background: #F8F8F8;
    border-top: none;
    box-sizing: border-box;
}
#linkBtn.cc-link-document{/*2023.08.28 pjsuny*/
	display: inline-block;
	width: 136px !important;
    height: 18px !important;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-left: 4px;
    color: #111111;
    background: #fff url(../img/ico_em.png) no-repeat 10px 6px;
}
sc-mdi-tabbar .mdiTabsDiv .mdiTabs sc-tab>div {/*2023.12.26 pjsuny*/
	width: 12px !important;
	height: 100%;
	background: url(../img/ico_x_tab.svg) no-repeat right center;
	margin-top: 0;
}
sc-mdi-tabbar .mdiTabsDiv .mdiTabs sc-tab[active]>div {/*2023.12.26 pjsuny*/
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(100%);
}
.session-timer{
	cursor: pointer;
}
/* 2023.05.17 Add : R&D dmwon - end*/

/* 2023.05.23  solution Add */
cc-sub-title-bar .wrap_btn {
    display: inline-block;
    float: right;
    margin-bottom: 3px;
}
.text-align-left .sc-label {/*2024.01.12 pjsuny*/
	min-width: 116px;
	margin-right: 10px;
	text-align: left;
	overflow-wrap: break-word;
    line-height: 1.2;
}
.text-align-center .sc-label{
	text-align: center;
}
.text-align-right .sc-label{
	text-align: right;
}

.flex--ct {
	display: flex;
    justify-content: center;
}

.text-field-wrap {
    display: grid;
    gap: 5px;
    width: 100%;
}
sc-mdi-tabbar .tabListDiv ul {
    position: fixed;
    top: 79px;
    right: 43px;
    width: 170px;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    z-index: 99999;
    background: #fff;
    border: 1px solid #152b3c;
}
sc-mdi-tabbar .tabListDiv li {
    border-bottom: 1px solid #dbdbdb;
}
sc-mdi-tabbar .tabListDiv li a {
    display: inline-block;
    background: url(../img/buls_mdi.png) no-repeat 7px -38px;
    height: 24px;
    width: 170px;
    padding: 0 10px 0 15px;
    line-height: 24px;
    color: #000;
    box-sizing: border-box;
}
/* [23.06.21] flex일 때 grid가 안나오는 경우 최소 사이즈를 지정 */
sc-grid.flex {
	min-height: 200px;
}
cc-grid-toolbar .sub_title {text-align: left;
    margin-left: 5px;}
/* 2023.06.30  solution - end */

sc-tabbar>.content>.first-tab {/* 2023.06.16 pjsuny */
    border-top-left-radius: 5px !important;
}
/* 2023.08.23 pjsuny : Evaltemplate */
sc-panel.eveltemplate_box>sc-toolbar.header {
    border-bottom: 0;
}
sc-panel.eveltemplate_box>sc-toolbar.header .title {
    font-size: 14px;
    color: #333333;
}
sc-panel.eveltemplate_box>div.content-wrap>div.content {
	border: 1px solid #E2E2E2;
  	background: #F8F8F8;
   	margin: 0 0 10px 0;
   	padding: 16px 16px 0 16px !important;
}

sc-window>sc-toolbar.header>.closable, 
sc-window>sc-toolbar.header>.closable:hover, 
sc-dialog>sc-toolbar.header>.closable, 
sc-dialog>sc-toolbar.header>.closable:hover {/*2023.08.28 pjsuny*/
	width: 30px !important;
    height: 30px !important;	
}
sc-window>sc-toolbar.header>.maximizable,
sc-window>sc-toolbar.header>.maximizable:hover,
sc-dialog>sc-toolbar.header>.maximizable,
sc-dialog>sc-toolbar.header>.maximizable:hover {
	width: 30px !important;
	height: 30px !important;
}
sc-dialog>.action {/*2024.01.12 pjsuny*/
	padding-bottom: 20px;
}