@CHARSET "UTF-8";

/*~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ 
2016.08.09 Choi JongHyeok
아이디, 비밀번호 찾기 팝업 관련 
~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~*/

@import url(../default.css);

ul,li,dd,dt,dl {list-style: none;}

#wrap {font-size: 13px; overflow:hidden;}


/* box */
.box_half {display: inline-block;margin: 0 1px;width: 48%;border: 1px solid #d5d5d5;border-top: 5px solid #0350a0;vertical-align: top;}
.box_third {display: inline-block;margin: 0 1px;width: 32%;border: 1px solid #d5d5d5;border-top: 5px solid #0350a0;vertical-align: top;}
.box_input {padding-top: 30px;margin-left: 45px;height: 100px;text-align: left;}

/* Button  */
.base_btn {display: inline-block;height: 30px;background-color: #0350a0;margin-top: 50px;line-height: 27px;}
.password_btn {display: inline-block;height: 30px;background-color: #0350a0;margin-top: 20px;line-height: 27px;}
.password_btn>a {color: #fff;font-size: 14px;text-align: center;text-decoration: none;padding:0 15px;min-width:50px;}
.base_btn>a {color: #fff;font-size: 14px;text-align: center;text-decoration: none;padding:0 15px;min-width:50px;}
.gray {background-color: #6e7379;}
.base_btn.nonangulate {border-radius: 4px;}

/* Txt */
.id_txt,.email_txt,.pw_txt {text-align: left;display: inline-block;width: 50px; font-weight: bolder;}
.help_txt {color:#676767; margin:10px 0;}
.reg_biz_no_txt {text-align: left;display: inline-block;width: 100px; font-weight: bolder;}

/* Menu List Common */
.sel_box {width:660px;height: 300px;border-top: 0;text-align: center;}
.sel_box > ul {display:inline-block;margin: 0;}
.sel_box > ul > li{float: left;line-height: 50px;vertical-align: middle;text-align: center; cursor: pointer;}
.sel_box .menu_link {
	text-decoration: none; display:block; background: #fafafa; color: #6a6a6a; 
	font-size: 15px; font-weight: 300; border-bottom: 3px solid #e6e6e6;
	transition: color 0.5s linear; /* vendorless fallback */
	-o-transition: color 0.5s linear; /* opera */
	-ms-transition: color 0.5s linear; /* IE 10 */
	-moz-transition: color 0.5s linear; /* Firefox */
	-webkit-transition: color 0.5s linear; /*safari and chrome */
}

/* Menu List */
.sel_list_1 .menu_link {width:660px;}
.sel_list_2 .menu_link {width:330px;}
.sel_list_3 .menu_link {width:220px;}
.sel_list_4 .menu_link {width:165px;}

/* Active Menu */
li.active .menu_link {background: #fff; border-bottom: 3px solid #4386cc; color:#4386cc; /* border-bottom:3px solid #4386cc */}

/* Hover Menu */
.sel_box .menu_link:hover {color:#4386cc}

/* Contents */
.sel_content {padding-top: 25px; }
.sel_content > ul {margin-top: 20px;}
.sel_content > ul > li {margin-top: 10px;}
.sel_content select {
    width: 170px;
        border-radius: 0;
}

/* Result Page */
.sel_table {display: table; height: 222px; width: 660px; overflow: hidden;}
.sel_cell {display: table-cell; vertical-align:middle;}
.medium_txt {font-size:medium;}


/* Mini Popup */
.mini_box {padding-top: 12px; text-align: center;}

/* Mini Contents */
.mini_content {padding-top: 0px; }
.mini_content > ul {margin-top: 20px;}
.mini_content > ul > li {margin-top: 10px;}
.mini_box .base_btn {margin-top: 20px;}
.mini_table {display: table; overflow: hidden; height:130px; margin: 0 auto;}
.mini_cell {display: table-cell; vertical-align:middle;}