/* CSS Document */

/**** main page ****/

td {color : #333333 ; Font-Family:"arial", "굴림"; Font-Size: 14px; Line-height:22px; text-decoration: none; word-break:break-all;}
.main_print {font-family: "Arial", "굴림"; font-size: 10px; line-height: 16px; text-decoration: none;}